	<div class="full-height" ng-show="authentication.user" layout="row" data-ng-controller="HeaderController">
		<md-sidenav class="md-sidenav-left md-whiteframe-z4 sidebar-menu full-height" md-component-id="left" md-is-locked-open="true" ng-class="{collapseMenu: collapseMenu, expandMenu: !collapseMenu}">
			<md-toolbar class="md-theme-indigo">
				<div class="md-toolbar-tools">
			        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleSideNav()">
			          <md-icon md-svg-icon="lib/material-design-icons/navigation/svg/design/ic_menu_24px.svg"></md-icon>
			        </md-button>
				</div>
		    </md-toolbar>
      		<md-content ng-class="{collapseMenu: collapseMenu}">
      			<div layout="column" flex>
					  
					<md-menu>
						<md-menu-content>
							<md-menu-item data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);">
								<md-button ng-click="changeState(item.link)">
									<ng-md-icon class="bs-sidebar-icon" icon="{{item.icon}}" style="fill: #757575">
										<md-tooltip ng-show="collapseMenu">
											{{item.title}}
										</md-tooltip>
									</ng-md-icon>
									{{item.title}}
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
	      		</div>
	      </md-content>
    	</md-sidenav>
		<div class="full-height" layout="column" flex>
			<md-toolbar class="md-theme-indigo">
				<div class="md-toolbar-tools">
			        <span flex>Liberato</span>
					<md-menu md-offset="-25 50">
	                    <md-button aria-label="Settings" class="md-icon-button" ng-click="$mdOpenMenu()">
	                        <md-icon md-menu-origin md-svg-icon="lib/material-design-icons/navigation/svg/design/ic_more_vert_24px.svg"></md-icon>
	                    </md-button>
	                    <md-menu-content width="4">
	                        <md-menu-item>
	                            <md-button ng-click="logout()">
	                                <p>Log Out</p>
	                                <ng-md-icon md-menu-align-target  icon="logout" style="fill:grey"></ng-md-icon>
	                            </md-button>
	                        </md-menu-item>
	                    </md-menu-content>
	                </md-menu>					
		    	</div>
		    </md-toolbar>
			<md-whiteframe class="md-whiteframe-z1 full-height" flex>
				<div class="full-height" layout="column" flex data-ui-view></div>
  			</md-whiteframe>
		</div>
	</div>
	<div ng-show="!authentication.user" data-ng-controller="AuthenticationController" class="login-background" layout="row" flex>
		<span flex></span>
	 	<md-sidenav class="md-sidenav-right" md-component-id="right" md-is-locked-open="$mdMedia('min-width: 333px')">
	      <md-toolbar class="md-theme-indigo">
	        <h1 class="md-toolbar-tools">Liberato</h1>
	      </md-toolbar>
	      <md-content layout-padding>
	      	<div layout="column" flex>
				 <form name="userForm">
					<md-input-container>
					    <label>Username</label>
						<input type="text" id="username" name="username" data-ng-model="credentials.username">
				  	</md-input-container>
					<md-input-container flex>
						<label>Password</label>
					  	<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password">
					</md-input-container>
					<div layout="column" flex>
						<md-button class="md-raised md-primary" ng-click="signin()">Login</md-button>
					</div>
					</br>
					<label ng-bind="error"></label>
				 </form>
	      	</div>
	      </md-content>
	    </md-sidenav>
	</div>
