
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.browsehappy.jumbotron.hide,
body.ng-cloak
{
	display: block;
}

html, body, section {
	height: 100%;
}

.login-background{
	background: url('/modules/core/img/bg.jpg');
	background-size: 100% auto; 
}

.sidebar-menu{
	-webkit-transition: min-width 0.5s ease-in-out;
    -moz-transition: min-width 0.5s ease-in-out;
    -o-transition: min-width 0.5s ease-in-out;
    transition: min-width 0.5s ease-in-out;
}

.collapseMenu {
	min-width: 60px !important;
	width: 60px !important;
}

.expandMenu {
    min-width: 304px !important;
    width: 304px !important;
}

.collapseMenuItem {
	min-width: 0px !important;
	width: 0px !important;
	margin: 0px;
	padding: 0px;
    margin-right: 2px !important;
	-webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

.expandMenuItem {
	width: 216;
	-webkit-transition: width 0.5s ease-out;
    -moz-transition: width 0.5s ease-out;
    -o-transition: width 0.5s ease-out;
    transition: width 0.5s ease-out;
}

