<section data-ng-controller="HelplinesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Helplines</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="helpline in helplines" data-ng-href="#!/helplines/{{helpline._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="helpline.created | date:'medium'"></span>
				by
				<span data-ng-bind="helpline.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="helpline.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!helplines.$resolved || helplines.length">
    	No Helplines yet, why don't you <a href="/#!/helplines/create">create one</a>?
    </div>
</section>